<div>
  <div class="card">

    <p>
      <button (click)="create()">Criar</button>
    </p>

    <div class="card-header bg-dark">
      <h4 class="card-title">Lista Pessoas</h4>
    </div>

    <table class="table table-hover">
      <thead class="bg-secondary text-white">
        <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>CPF</th>
          <th>E-mail</th>
          <th>Endereço</th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let personItem of listPeople">
          <td>{{personItem.name}}</td>
          <td>{{personItem.lastName}}</td>
          <td>{{personItem.cpf}}</td>
          <td>{{personItem.email}}</td>
          <td>{{personItem.address}}</td>
          <td>
            <i (click)="update(personItem.id)" class="material-icons">edit</i>
            <i (click)="getOne(personItem.id)" class="material-icons">visibility</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
    <!--
    <div class="data">
      <ul class="list-unstyled">
        <li *ngFor="let personItem of listPeople">{{personItem.name}}
          
          <i (click)="removePerson(personItem.id)" class="material-icons">delete</i>
          <i (click)="editPerson(personItem.id)" class="material-icons">edit</i>
          <i (click)="detailPerson(personItem.id)" class="material-icons">visibility</i>

        </li>
      </ul>
    </div>
    -->
